---
---

@import "mixins";

body {
  width: 100%;
  height: 100%;
  @include serif;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  @include sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
  @media (min-width:768px) {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: white;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken(white,20%);
  }
}

.brand-heading {
  margin-bottom: 0;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid transparentize(white, 0.7);
  text-transform: uppercase;
  @include sans-serif;
  /* font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif; */
  background-color: black;
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: none;
    }
    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: white;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  a {
    color: white;
  }
  .nav {
    li {
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        &:hover {
          color: transparentize(white, 0.2);
          outline: none;
          background-color: transparent;
        }
        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
        }
      }
      &.active {
        outline: none;
        a {
          background-color: transparentize(white, 0.7);
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  @media (min-width:768px) {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    &.top-nav-collapse {
      padding: 0;
      background: black;
      border-bottom: 1px solid transparentize(white, 0.7);
    }
  }
}

.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/home-tall.jpg) no-repeat top center scroll;
  background-color: black;
  @include background-cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 40px;
    }
    .intro-text {
      font-size: 18px;
    }
  }
  @media (min-width:768px) {
    background-image: url(../img/home-wide.jpg);
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 26px;
      }
    }
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: transparentize(white, 0.8);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: transparentize(white, 0.8);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: transparentize(white, 0.8);
}
