// Mixins

@mixin transition-all()
{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin serif()
{
	font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin sans-serif()
{
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
