<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top" data-target=".navbar-fixed-top">

      <!-- Navigation -->
      <nav class="navbar navbar-custom navbar-fixed-bottom" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand" href="#page-top">About</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                  <ul class="nav navbar-nav">
                      <li><a href="https://www.facebook.com/clarkbk"><i class="fa fa-facebook-square"></i><span class="light"> Facebook</span></a></li>
                      <li><a href="https://twitter.com/clarkbk"><i class="fa fa-twitter-square"></i><span class="light"> Twitter</span></a></li>
                      <li><a href="https://www.linkedin.com/in/clarkbk"><i class="fa fa-linkedin-square"></i><span class="light"> LinkedIn</span></a></li>
                      <li><a href="https://github.com/clarkbk"><i class="fa fa-github-square"></i><span class="light"> Github</span></a></li>
                  </ul>
              </div>
          </div>
      </nav>

      <!-- Intro Header -->
      <header class="intro">
          <div class="intro-body">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                          <h1 class="brand-heading">Ben Clark</h1>
                          <p class="intro-text">Lives in New York. Works at <a href="https://seatgeek.com">SeatGeek</a>.</p>
                      </div>
                  </div>
              </div>
          </div>
      </header>

      {% include footer.html %}

  </body>

</html>
